/* BACKGROUND SIZE */
/* ROTATE*/
/* TRANSITION */
.btn_save {
  margin-left: -17px;
  height: 28px;
  line-height: 28px; }

.user-main {
  text-align: center;
  color: #8e9eaa;
  font-size: 13px; }
  .user-main .btn {
    margin: 3px 0 13px; }

.user-main__name {
  margin: -5px 0 3px;
  font-size: 24px;
  font-weight: normal;
  font-family: 'pt_sansregular', sans-serif;
  line-height: 24px;
  font-weight: normal;
  color: #000; }

.user-main__phone {
  text-align: left;
  margin-top: 15px; }
  .user-main__phone strong {
    display: block;
    color: #000; }
  .user-main__phone span {
    color: #004ccc;
    border-bottom: 1px dashed; }

.varific-sb {
  margin-top: 40px;
  padding: 15px 0 1px;
  background: #e5eff4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 10px #e5eff4;
  -moz-box-shadow: inset 0 0 10px #e5eff4;
  box-shadow: inset 0 0 10px #e5eff4; }
  .varific-sb .separator {
    background: #e5eff4;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZWZmNCIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjYWZjMGM5Ii8+PHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiNhZmMwYzkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWVmZjQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e5eff4), color-stop(25%, #afc0c9), color-stop(75%, #afc0c9), color-stop(100%, #e5eff4));
    background-image: -webkit-linear-gradient(left, #e5eff4 0%, #afc0c9 25%, #afc0c9 75%, #e5eff4 100%);
    background-image: -moz-linear-gradient(left, #e5eff4 0%, #afc0c9 25%, #afc0c9 75%, #e5eff4 100%);
    background-image: -o-linear-gradient(left, #e5eff4 0%, #afc0c9 25%, #afc0c9 75%, #e5eff4 100%);
    background-image: -ms-linear-gradient(left, #e5eff4 0%, #afc0c9 25%, #afc0c9 75%, #e5eff4 100%);
    background-image: linear-gradient(left, #e5eff4 0%, #afc0c9 25%, #afc0c9 75%, #e5eff4 100%); }
  .varific-sb ul {
    padding: 16px 0 0 21px; }
    .varific-sb ul li {
      margin-bottom: 14px; }
    .varific-sb ul * {
      vertical-align: top; }
    .varific-sb ul i {
      margin-top: 3px; }
    .varific-sb ul span {
      display: inline-block;
      margin-left: 7px;
      width: 114px;
      line-height: 18px; }

.verific-sb__title {
  padding: 0 0 17px 18px;
  font-size: 24px;
  font-weight: normal;
  font-family: 'pt_sansregular', sans-serif;
  color: #000; }

.user-informer {
  float: left;
  width: 290px;
  margin: 0 0 10px 37px; }
  .user-informer a {
    color: #1983c7; }
  .user-informer .price span {
    color: #9fb9be;
    font-size: 16px; }

.user-informer__img {
  float: left;
  margin-right: 13px; }

.user-informer__com {
  display: block;
  margin-top: 30px;
  color: #83939b;
  font-size: 12px; }

.user-bid {
  position: relative;
  overflow: hidden;
  float: left;
  width: 240px;
  margin: 13px -18px 0 37px; }
  .user-bid:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    width: 1px;
    height: 25px;
    background: #ebe3d9; }
  .user-bid .user-bid__img {
    float: left;
    margin-right: 10px; }
  .user-bid .price {
    color: #f27f0f; }
    .user-bid .price strong {
      color: #f27f0f;
      display: inline; }
    .user-bid .price i:before, .user-bid .price i:after {
      background: #f27f0f; }

.wrapper_com {
  overflow: hidden;
  margin-left: -125px; }

.user-comm-title {
  overflow: hidden;
  margin: 50px 0 20px; }
  .user-comm-title div {
    float: left;
    margin: 0 70px 0 205px; }
  .user-comm-title strong {
    display: block;
    margin-bottom: 2px;
    font-size: 41px;
    font-weight: normal;
    font-family: 'pt_sansregular', sans-serif;
    line-height: 41px; }
  .user-comm-title span {
    padding-right: 10px;
    color: #92a1b5; }
  .user-comm-title .btn {
    float: left;
    margin-top: 10px; }

.com {
  overflow: hidden;
  margin-bottom: 33px; }

.com-user {
  float: left;
  text-align: center;
  color: #869da5; }
  .com-user a {
    color: #0046cc; }
  .com-user span {
    display: block; }

.com-user__img {
  display: block;
  margin-bottom: -5px; }

.com-text {
  position: relative;
  float: left;
  width: 476px;
  margin: 0 25px 0 48px;
  color: #47463d;
  padding: 13px 15px 35px 28px;
  border: 1px solid #fbd580;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .com-text:before {
    content: "";
    position: absolute;
    left: -32px;
    top: 24px;
    background: url('../img/icons-sa26f32d32f.png') 0 -104px no-repeat;
    width: 33px;
    height: 21px; }

.com-info {
  float: left;
  margin-top: -5px;
  width: 200px; }
  .com-info .rate {
    margin-bottom: 32px; }

.auction-sb {
  margin-bottom: 10px;
  padding: 3px 0 6px;
  color: #465157;
  font-size: 12px;
  background: #e5eff4;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px; }
  .auction-sb .separator {
    margin-top: 11px;
    background: #afc0c9;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZWZmNCIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjYWZjMGM5Ii8+PHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiNhZmMwYzkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWVmZjQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e5eff4), color-stop(25%, #afc0c9), color-stop(75%, #afc0c9), color-stop(100%, #e5eff4));
    background-image: -webkit-linear-gradient(left, #e5eff4 0%, #afc0c9 25%, #afc0c9 75%, #e5eff4 100%);
    background-image: -moz-linear-gradient(left, #e5eff4 0%, #afc0c9 25%, #afc0c9 75%, #e5eff4 100%);
    background-image: -o-linear-gradient(left, #e5eff4 0%, #afc0c9 25%, #afc0c9 75%, #e5eff4 100%);
    background-image: -ms-linear-gradient(left, #e5eff4 0%, #afc0c9 25%, #afc0c9 75%, #e5eff4 100%);
    background-image: linear-gradient(left, #e5eff4 0%, #afc0c9 25%, #afc0c9 75%, #e5eff4 100%); }
  .auction-sb .btn-arrow {
    margin: 15px auto 17px; }

.auction-sb__title {
  text-transform: uppercase; }

.auction-sb__memb {
  display: block;
  margin-top: 2px;
  padding-left: 32px;
  text-align: left; }

.sidebar-s .btn-gray_favor {
  margin-bottom: 38px;
  margin-left: 8px; }

.offer-sb-wrap {
  margin-top: 17px;
  padding: 10px 0 5px; }

.offer-sb-wrap_mod {
  background: #fbd580;
  padding: 10px 13px 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px; }
  .offer-sb-wrap_mod .separator {
    background: #e5eff4;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZDU4MCIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjZDJiNDcwIi8+PHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiNkMmI0NzAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmQ1ODAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fbd580), color-stop(25%, #d2b470), color-stop(75%, #d2b470), color-stop(100%, #fbd580));
    background-image: -webkit-linear-gradient(left, #fbd580 0%, #d2b470 25%, #d2b470 75%, #fbd580 100%);
    background-image: -moz-linear-gradient(left, #fbd580 0%, #d2b470 25%, #d2b470 75%, #fbd580 100%);
    background-image: -o-linear-gradient(left, #fbd580 0%, #d2b470 25%, #d2b470 75%, #fbd580 100%);
    background-image: -ms-linear-gradient(left, #fbd580 0%, #d2b470 25%, #d2b470 75%, #fbd580 100%);
    background-image: linear-gradient(left, #fbd580 0%, #d2b470 25%, #d2b470 75%, #fbd580 100%); }

.offer-sb {
  overflow: hidden;
  margin: 14px 0 13px; }

.offer-sb__title {
  display: block;
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 21px; }

.offer-sb__img {
  float: left;
  margin-right: 11px; }

.offer-sb__main {
  float: left;
  font-size: 12px; }
  .offer-sb__main strong {
    display: block;
    margin-top: -5px; }
  .offer-sb__main .price {
    margin-top: -4px; }
    .offer-sb__main .price span {
      color: #7c6f52; }

.tab-simple-cont {
  margin-bottom: 60px; }

.tab-cont {
  overflow: hidden;
  margin-top: 15px; }
  .tab-cont .list-opt {
    float: left;
    margin: 0 0 10px 23px; }
