@import "base";
@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pts55f-webfont.eot');
    src: url('../fonts/pts55f-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts55f-webfont.woff') format('woff'),
         url('../fonts/pts55f-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pt_sansitalic';
    src: url('../fonts/pts56f-webfont.eot');
    src: url('../fonts/pts56f-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts56f-webfont.woff') format('woff'),
         url('../fonts/pts56f-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/pts75f-webfont.eot');
    src: url('../fonts/pts75f-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts75f-webfont.woff') format('woff'),
         url('../fonts/pts75f-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('../fonts/pts76f-webfont.eot');
    src: url('../fonts/pts76f-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts76f-webfont.woff') format('woff'),
         url('../fonts/pts76f-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
 margin: 0;
 padding: 0;
 border: 0;
 vertical-align: baseline;
}
body, html {
    height: 100% 
}
img,fieldset {
	border:none;
}
input[type="submit"],
input[type="reset"],
button  {
	cursor:pointer;
}
textarea {
	overflow: auto;
    display: block;
}
input {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
ul,ol {
    list-style-type: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
input[type='submit']::-moz-focus-inner{
	padding:0;
	border:0
}
* {
	-webkit-text-size-adjust: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
 display: block;
}
/* ------------------------------------- //END Reset css --------------------------------------- */
body{
	min-width: 1055px;
	font: normal 13px/21px Arial, sans-serif;
}
.index {
	min-width: 1130px;
}
a{
	color: #1871c4;
}
.l-layout {
    margin: 0 auto -182px;
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.push {
	clear: both;
	height: 182px;
}
.wrapper {
    overflow: hidden;
}
.wrap {
    @include clr();
}
.l-container {
	margin: 0 auto;
	width: 1000px;
	@include clr();
}
/*------------------------------------------------ Header -----------------------------------------------*/
.header {
	position: relative;
	padding-bottom: 15px;
}
.top-bar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3000;
	width: 100%;
	height: 27px;
	line-height: 27px;
	@include background-image(linear-gradient(#fff 0%, #fdfefe 60%, #eaf0f2 100%));
}
.header-wrap {
	padding-top: 27px;
}
.choose-city {
	float: right;
	width: 430px;
	a {
		display: inline-block;
		vertical-align: middle;
		margin-right: 12px;
		line-height: 1;
		color: #0d95d9; 
		font-style: italic;
		border-bottom: 1px dotted #118ad3;
		text-decoration: none;
	}
	.active {
		font-weight: bold;
		color: #000;
		font-style: normal;
		border-bottom: 0;
	}
	.cancel {
		float: right;
		color: #dc1616;
		font-style: normal;
		border-bottom: 0;
		font-size: 12px;
		line-height: 27px;
	}
}
.logo {
	float: left;
	margin-top: 22px;
	width: 200px;
	height: 47px;
	background: url(../img/logo.png) 0 0 no-repeat;
}
.nav-wrap {
	float: right;
}

.enter-city {
	margin: 0 0 20px;
	height: 30px;
	line-height: 30px;
}
.enter {
	float: right;
	color: #000;
	font-size: 18px;
	text-decoration: none;
	margin-right: 22px;
	i {
		display: inline-block;
		vertical-align: middle;
		@include sized-sprite($icons, enter);
	}
	span {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;  
		margin-left: 7px;
		border-bottom: 1px dashed;
	}
}

// select city block
.select-city {
	position: relative;
	float: right;
	margin-top: 4px;
	padding: 0 3px 0 10px;
	height: 30px;
	line-height: 30px;
	background: #ebf4f5;
	@include border-radius(5px);
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	span {
		color: #363b3b;
		font-size: 12px;
	}
	strong {
		display: inline-block;
		position: relative;
		margin-right: 13px;
		color: #08c;
		font-size: 13px;
		font-weight: normal;
		font-style: italic; 
		line-height: 1;
		border-bottom: 1px dotted;
		cursor: pointer;
		i {
			position: absolute;
			right: -11px;
			top: 50%;
			margin-top: -2px;
			@include sized-sprite($icons, arr1);
		}
	}
	.active {
		i {
			@include sized-sprite($icons, arr2);
		}
	} 
	ul {
		display: none;
		position: absolute;
		top: 25px;
		left: 17px;
		z-index: 1000;
		padding: 6px 0;
		width: 160px;
		background: #fff;
		@include border-radius(4px);
		border: 1px solid rgba(117,117,117,.37);
		border-bottom: none;
		@include box-shadow( 0 5px 10px rgba(0,0,0,0.23));
		.active-city {
			background: #08c;
			color: #fff;
		}
	} 
	li {
		padding-left: 15px;
		height: 24px;
		line-height: 24px;
		color: #6b6b6b;
		cursor: pointer;
	}
}
// main menu
.nav {
	overflow: hidden;
	line-height: 26px;
	clear: both;
	li {
		float: left;
		padding-left: 22px;
	}
	.active {
		color: #000;
		text-decoration: none;
		font-weight: bold;
	}
}
/*---------------------------------------------- END Header -------------------------------------------- */

/*----------------------------------------------  Blocks ----------------------------------------------- */
.profile-nav-wrap {
	height: 50px;
	line-height: 50px;
	@include background-image(linear-gradient(#fff 0%, #fdfefe 20%, #eaf0f2 100%));
}
.profile-nav {
	width: 1000px;
	margin: 0 auto;
	li {
		float: left;
		margin-left: 30px;
	}
	a {
		color: #004acc;
		font-size: 21px;
		@include pts_r;
	}
	.active {
		color: #7e858a;
		text-decoration: none;
	}
}
// layout
.l-cols {
	margin: 0 auto;
	padding-top: 13px;
	width: 1055px;
	@include clr;
}
.l-cols_s {width: 1000px;}
// sidebar
.sidebar {
	float: left;
	padding-top: 4px;
	width: 255px;
	margin-left: -55px
}
.sidebar-s {
	float: left;
	width: 200px;
	margin-top: -4px;
}
// navigation in sidebar
.sidebar-nav {
	li {
		margin-bottom: 9px;
	}
	a {
		color: #004bd1;
		font-size: 16px;
		border-bottom: 1px dashed;
		text-decoration: none;
	}
	.active {
		color: #000;
		border-bottom: 0;
	}
}
.sidebar-nav_mod {
	padding: 5px 17px;
	background: #e2eff5;
	@include border-radius(6px);
}
// main column
.main-col {
	float: right;
	width: 790px;
	@include clr;
}
.main-col-wrap {
	padding-left: 33px;
}
// buttons style
.btn {
	display: inline-block;
	height: 27px;
	line-height: 23px;
	color: #fff;
	padding: 0 14px;
	border: 0;
	border-top: 1px solid #23a1e1;
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
	@include border-radius(4px);
	@include box-shadow( 0 -1px 0 0 #0061b7);
	background: #08c;
	@include background-image(linear-gradient(#08c, #0045cc));
	&:hover {
		text-shadow: none;
		@include background-image(linear-gradient(#0045cc, #08c));
	}
	&:active {
		@include box-shadow(inset 0 0 4px 0 rgba(0,0,0,.5), 0 -1px 0 0 #0061b7);
	}
}
.btn_big {
	height: 31px;
	line-height: 29px;
	font-size: 18px;
	padding: 0 11px;
}

.btn-orange {
	display: inline-block;
	padding: 0 14px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	font-size: 18px;
	border: 1px solid #c66807;
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(225,130,5,0.5);
	@include border-radius(4px);
	@include box-shadow(inset 0 1px 0 0 #fbbf3f);
	background: #fab010;
	@include background-image(linear-gradient(#fab010, #f67f04));
	&:hover {
		background: #f67f04;
		@include background-image(linear-gradient(#f67f04, #fab010));
	}
	&:active {
		background: #f67f04;
		@include background-image(linear-gradient(#f67f04, #fab010));
		@include box-shadow(inset 0 0 10px  rgba(0,0,0,0.2));
	}
}

.btn-gray {
	display: inline-block;
	padding: 0 14px;
	height: 28px;
	line-height: 28px;
	color: #595959;
	font-size: 13px;
	border: 1px solid #ccc;
	text-shadow: 0 -1px 1px rgba(225,255,255,0.5);
	@include border-radius(4px);
	background: #e7e7e7;
	text-decoration: none;
	@include background-image(linear-gradient(#fff, #e7e7e7));
	&:hover {
		background: #e7e7e7;
		@include background-image(linear-gradient(#e7e7e7, #fff));
	}
	&:active {
		background: #f67f04;
		@include background-image(linear-gradient(#e7e7e7, #fff));
		@include box-shadow(inset 0 0 10px  rgba(0,0,0,0.2));
	}
}
.btn-gray_big {
	height: 35px;
	line-height: 35px;
	padding-left: 32px;
}
.btn-gray_favor {
	position: relative;
	padding-left: 32px;
	.icon_star {
		position: absolute;
		top: 50%;
		left: 11px;
		margin-top: -6px;
		@include sized-sprite($icons, star);
	}
}

.btn-arrow {
	display: block;
	margin: 0 auto;
	border: none;
	color: #fff;
	@include pts_r;
	font-size: 17px;
	line-height: 18px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	@include sized-sprite($icons, btn-arrow);
	span {
		padding: 4px 25px 0 12px;
		display: inline-block;
	}
}
.btn-arrow_bold {
	@include pts_b;
	font-size: 21px;
	text-align: left;
	line-height: 20px;
}
.btn-green {
	padding: 0 11px; 
	height: 27px;
	line-height: 25px;
	color: #fff;
	font-size: 15px;
	border-top: 1px solid #51a451;
	border-left: 1px solid #51a451; 
	border-right: 1px solid #51a451; 
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2); 
	@include border-radius(4px);
	background: #61c261; 
	@include box-shadow(inset 0 1px 0 #80ce80); 
	@include background-image(linear-gradient(#61c261, #51a451));
	&:hover {
		background: #51a451; 
		@include background-image(linear-gradient(#51a451, #61c261));
	}
	&:active {
		@include box-shadow(inset 0 0 10px  rgba(0,0,0,0.2),inset 0 1px 0 #80ce80);
		background: #51a451; 
		@include background-image(linear-gradient(#51a451, #61c261));
	}
}

.btn-aqua {
	padding: 0 4px; 
	height: 27px;
	line-height: 25px;
	color: #fff;
	font-size: 13px;
	border: 1px solid #4aa6c1; 
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2); 
	@include border-radius(4px);
	background: #58bedc; 
	@include box-shadow(inset 0 1px 0 #79cbe3); 
	@include background-image(linear-gradient(#58bedc, #3097b5));
	&:hover {
		background: #3097b5; 
		@include background-image(linear-gradient(#3097b5, #58bedc));
	}
	&:active {
		@include box-shadow(inset 0 0 10px  rgba(0,0,0,0.2),inset 0 1px 0 #79cbe3);
		background: #51a451; 
		background: #3097b5; 
		@include background-image(linear-gradient(#3097b5, #58bedc));
	}
	.icon {
		position: relative;
		top: 2px;
		margin-right: 2px;
	}
}

.btn-download {
	position: relative;
	display: inline-block;
	input {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}   
}

// separator of sidebar
.separator {
	display: block;
	height: 1px;
	background: #bbc9cc;
}

// icons
.icon {display: inline-block;}
.icon_string {@include sized-sprite($icons, string);}
.icon_phone {@include sized-sprite($icons, phone);}
.icon_ok {@include sized-sprite($icons, ok);}
.icon_no {@include sized-sprite($icons, no);}
.icon_house {@include sized-sprite($icons, house);}
.icon_star {@include sized-sprite($icons, star);}
.icon_star-w {@include sized-sprite($icons, star-w);} 
.icon_del {@include sized-sprite($icons, delite);}
.icon_del2 {@include sized-sprite($icons, delite2);}
.icon_del3 {@include sized-sprite($icons, delite3);}
.icon_arr-b {@include sized-sprite($icons, arr6);}
.icon_arr-t {@include sized-sprite($icons, arr5);}
.icon_search {@include sized-sprite($icons, glass);}
.icon_list {@include sized-sprite($icons, list);}
.icon_arr-r {@include sized-sprite($icons, arr7);}
.icon_eye {@include sized-sprite($icons, eye);}

// metro station
.metro-st {
	color: #333;
	font-weight: bold;
	i {
		display: inline-block;
		margin-right: 4px;
		@include sized-sprite($icons, metro);
	}
} 

// price style
.price {
	strong {
		display: block;
		margin-bottom: -2px;
		font-weight: normal;
		color: #333;
		font-size: 32px;
		line-height: 30px;
		i {
			position: relative;
			font-style: normal;
			text-transform: uppercase;
			&:before,
			&:after {
				content: "";
				position: absolute;
				left: 0;
				height: 3px;
				background: #333;
			}
			&:before {
				top: 48%;
				width: 4px;
			}
			&:after {
				top: 63%;
				width: 18px;
			}
		}
	}
	span {
		color: #a1b5b7;
		font-size: 13px;
	}
}
// price font-size:12px;
.price_fs12 {
    strong {
        font-size: 12px;
        i {
	        &:before,
	        &:after {
	            content: "";
	            height: 1px;
	            width: 6px;
	        }
	    }
    }
}
// price font-size:16px;
.price_fs16 {
    strong {
        font-size: 16px;
        i {
	        &:before,
	        &:after {
	            content: "";
	            height: 1px;
	            width: 9px;
	        }
	    }
    }
}
.price_fs18 {
    strong {
        font-size: 18px;
        i {
	        &:before,
	        &:after {
	            content: "";
	            height: 2px;
	            width: 9px;
	        }
	    }
    }
}
// price font-size:21px;
.price_fs21 {
    strong {
        font-size: 21px;
        i {
	        &:before,
	        &:after {
	            content: "";
	            height: 2px;
	            width: 12px;
	        }
	        &:before {
	        	width: 3px;
	        	top: 47%;
	        }
	        &:after {
	        	top: 59%;
	        }
	    }
    }
}
// price font-size:38px;
.price_fs38 {
    strong {
        font-size: 38px;
        @include pts_r;
        i {
	        &:before,
	        &:after {
	            content: "";
	            height: 3px;
	            width: 20px;
	        }
	        &:before {
	        	width: 9px;
	        	top: 25px;
	        }
	    }
    }
}

// social links
.soc {
	overflow: hidden;
	a {
		display: inline-block;
		margin-right: 2px;
		height: 27px;
	}
}
.soc__vk {@include sized-sprite($icons, vk);}
.soc__tw {@include sized-sprite($icons, tw);}
.soc__fb {@include sized-sprite($icons, fb);}

// title modefications
.title {
    @include background-image(linear-gradient(#fff 0%, #fdfefe 50%, #eaf0f2 100%));
    div {
        margin: 0 auto;
        height: 80px;
        width: 657px;
        line-height: 80px;
        strong {
            float: left;
            color: #000;
            @include pts_r;
            font-size: 40px;
            font-weight: normal;
        }
    }
}
.title_mod {
	margin: 35px 0 18px 0;
	div {
		width: 550px;
		text-align: right;
		strong {
			float: none;
			vertical-align: middle;
		}
	}
    .btn {
    	margin-left: 20px;
    }
} 

.title-profile {
	margin: 37px 0 42px;
	height: 1px;
	font-size: 40px;
	line-height: 47px;
	@include pts_r;
	text-align: center;
	background: #d2d9da;
	.title-profile__wrap {
		position: relative;
		top: -25px;
		font-weight: normal;
		padding: 0 17px;
		background: #fff;
	}
	.btn { 
		margin-left: 10px;
		font-size: 13px;
		@include pts_r;
		vertical-align: middle;
	}
	.tab-wrap {
		position: relative;
		top: 6px;
	}
}

.section-title {
	margin: 20px 0 20px 3px;
	height: 1px;
	font-size: 18px;
	font-weight: normal;
	background: #d6e7e9;
	text-align: center;
	span {
		position: relative;
		top: -10px;
		padding: 0 20px;
		background: #fff;
	}
	.icon {
		position: relative;
		left: -17px;
	}
}
.section-title_mod {
	span {
		padding-left: 40px;
	}
}

// rating
.rate {
	strong {
		color: #47463d;
		display: block;
	}
}

// tabs
.tab-wrap {
	display: inline-block;
	background: #fff;
	padding: 0 22px;
}
// first tab style
.tab {
	display: inline-block;
	overflow: hidden;
	padding: 3px;
	height: 29px;
	line-height: 29px;
	background: #e6eff0;
	@include box-shadow(inset 0 5px 9px rgba(71,162,222,0.3));
	@include border-radius(35px);
	@include background-image(linear-gradient(#a7bbc4, #e6eff0));
	li {
		float: left;
		padding: 0 22px;
		color: #3e4e57;
		font-size: 15px;
		text-align: center;
		cursor: pointer;
		@include border-radius(35px);
	}
	span {
		border-bottom: 1px dashed;
	}
	.active {
		color: #fff;
		background: #1f96e2;
		text-shadow: 0 1px 0 #000;
		@include box-shadow(inset 0 1px 0  #98ccee, inset 0 -1px 0  #073469);
		@include background-image(linear-gradient(#1f96e2, #1880c2));
		span {
			border-bottom: 0;
		}
	}
}
.tab-border-wrap {
	position: relative;
	margin-bottom: 25px;
	height: 1px;
	background: #d6e7e9;
	text-align: center;
	.tab-simple {
		position: relative;
		top: -11px;
	}
	.tab-wrap {
		position: relative;
		top: -16px;
	}
}

// second tab style
.tab-simple {
	background: #fff;
	display: inline-block;
	padding-right: 17px;
	overflow: hidden;
	li {
		display: inline-block;
		margin-left: 17px;
		font-size: 18px;
		color: #004ccc;
		border-bottom: 1px dashed;
		cursor: pointer;
	}
	.active {
		color: #000;
		border-bottom: none;
		cursor: default;
	}
}
// fourth tab style
.tab-btn {
	overflow: hidden;
	display: inline-block;
	border-top: 1px solid #0061b7; 
	@include border-radius(5px);
	li {
		position: relative;
		top: -1px; 
		float: left;
		clear: none !important;
		padding: 0 6px 0 5px;
		height: 27px;
		line-height: 27px;
		color: #fff;
		cursor: pointer;
		text-shadow: 0 -1px 1px rgba(0,0,0,0.5); 
		border-bottom: 1px solid #0061b7;
		border-right: 1px solid #0061b7;
		border-top: 2px solid #23a1e1;
		@include background-image(linear-gradient(#0087cc, #0045cc));
	}
	.active {
		background: #04c; 
		border-top: 2px solid #04c;
		border-bottom: 1px solid #039;
		@include box-shadow(inset 0 2px 5px rgba(0,0,0,0.26));
	}
}

// social enter buttons
.enter-soc {
	display: block;
	margin-bottom: 10px;
	color: #fff;
	font-size: 15px;
	line-height: 36px;
	text-decoration: none;
	text-shadow: 0 1px #000;
	&:hover {
		text-shadow: none;
	}
	span {
		padding-left: 51px;
	}
}
.enter-soc_vk {@include sized-sprite($icons, vk2);}
.enter-soc_tw {@include sized-sprite($icons, tw2);}
.enter-soc_fb {@include sized-sprite($icons, fb2);}

// popups styles
.popup-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2000;
	background: rgba(0,0,0,.5);
}
.popup {
	position: absolute;
	padding-bottom: 1px;
	left: 50%;
	top: 100px;
	z-index: 3000;
	background: #fff;
	@include border-radius(6px);
}
.popup__main {
	padding: 15px 30px 0;
	@include clr;
}
.popup__title {
	display: block;
	margin-bottom: 17px;
	color: #333;
	font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.popup__footer {
	margin: 3px 0 0;
	padding: 12px 30px 16px;
	background: #f5f5f5;
	border-top: 1px solid #ddd;
	clear: both;
	@include border-radius(0 0 6px 6px);
}

.or {
	height: 1px;
	background: #eee;
	color: #897d6f;
	@include pts_r;
	text-align: center;
	span {
		position: relative;
		top: -11px;
		background: #fff;
		padding: 0 14px;
	}
}

// image style
.img {
	display: inline-block;
	margin-bottom: 4px;
	padding: 4px;
	border: 1px solid #ddd;
	background: #fff;
	@include border-radius(4px);
	@include box-shadow(0 2px 2px rgba(0, 0, 0, 0.08));
}

// elements of form
.form-title {
	margin: 10px 45px 30px 0;
	height: 1px; 
	color: #ffad00;
	font-size: 18px;
	line-height: 21px;
	background: #ffe2ad;
	span {
		position: relative;
		top: -11px;
		padding: 0 37px 0 32px;
		background: #fff;
	}
}
.form-title_mod {
	margin-top: 27px;
}
.fieldset {
	padding-bottom: 33px;
}
.field {
	margin-bottom: 15px;
	height: 28px;
	line-height: 28px;
	@include clr();
	clear: both;
}
.field_mod {
    .label {
        margin-left: 0;
        text-align: right;
        width: auto;
    }
}
.form-info {
	float: left;
	margin-left: 142px;
	width: 445px;
	color: #687379;
}
.label {
	float: left;
	margin: 0 20px 0 -42px;
	width: 165px;
	color: #999;
	text-align: right;
}
.label_mod {
	color: #000;
}
// input and textarea style
.input {
	float: left;
	padding: 0 7px;
	height: 26px;
	width: 429px;
	color: #6d6d6d;
	background: #f5f5f5;
	border: 1px solid #ddd;
	@include border-radius(3px);
	font: normal 13px/1 Arial, sans-serif;
	@include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
	&:focus {
		color: #555;
		background: #fff;
		border: 1px solid #2ecd26;
		@include box-shadow(none);
	}
} 
.input_s {
	width: 172px;
}
.input_m {
	width: 207px;
}
.textarea {
	resize: vertical;
	padding-top: 5px; 
	min-height: 110px;
}
.textarea_mod {
	background: #fff;
	&:focus {
		color: #555;
		border: 1px solid #ddd;
		@include box-shadow(none);
	}
}
// select style
.select {
	position: relative;
	float: left;
	margin-right: 9px;
	width: 220px;
	height: 28px;
	background: #fff; 
	span {
		position: relative;
		display: block;
		padding: 0 4px;
		height: 26px;
		line-height: 26px;
		font-size: 12px;
		color: #555;
		border: 1px solid #ccc;
		@include border-radius(2px); 
	}
	i {
		position: absolute;
		right: 5px;
		top: 11px;
		@include sized-sprite($icons, select-bg);
	}
	select {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
}
.select_date {width: 37px;}
.select_month {width: 75px;}
.select_year {width: 52px;} 

// checkbox style
.checkbox {
	position: relative;
	display: block;
	margin-bottom: 13px;
	padding-left: 19px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	line-height: 15px;
	color: #333; 
	input {
		position: absolute;
		left: 0;
		z-index: 1000;
		opacity: 0;
		&:checked + i:before {
			content: "";
			display: block;
		}
	}
	i {
		position: absolute;
		z-index: 1;
		left: 0;
		width: 11px;
		height: 11px;
		background: #fff;
		border: 1px solid #ccc; 
		&:before {
			content: "";
			display: none;
			position: absolute;
			left: 0;
			top: 0;
			@include sized-sprite($icons, checkbox);
			z-index: 2; 
		}
	}
	sup {
		position: relative;
		top: -6px;
		color: #f20b0b; 
		font-size: 12px;
	}
}
// download file
.download {
	position: relative;
	padding: 33px 48px;
	width: 450px;
	color: #d0d0d0;
	text-align: center;
	font: normal 21px/28px Trebuchet,Arial,sans-serif;
    border: 3px dashed #bdd2d4;
    label {
    	color: #1c66d4;
    	cursor: pointer;
    }
    span {
    	position: relative;
    	z-index: 2;
    	border-bottom: 2px solid;
    }
    input {
    	position: absolute;
    	left: 0;
    	top: 0;
    	width: 100%;
    	height: 100%;
    	opacity: 0;
    }
}
// list with options
.list-opt {
	li {
		font-size: 18px;
		margin-bottom: 9px;
		i {
			margin-right: 10px;
		}
	}
}
.list-opt-add {
	overflow: hidden;
	clear: both;
	padding: 16px 10px 13px 28px;
	background: #eef4f5;
	@include border-radius(6px);
	li {
		float: left;
		color: #405559;
		font-size: 16px;
		line-height: 18px;
		* {
			float: left;
		}
		span {
			width: 160px;
			margin-left: 10px;
		}
	}
}

// pagination
.pagin {
	a {
		display: inline-block;
		width: 36px;
		height: 35px;
		margin-right: -6px;
		color: #0081cc;
		font-size: 14px;
		line-height: 35px;
		text-align: center;
		text-decoration: none; 
		background: #fff;
		border: 1px solid #ddd; 
		@include border-radius(2px); 
	}
	.all {
		margin-left: 10px;
		padding: 0 15px; 
		height: 28px;
		line-height: 28px;  
		width: auto; 
		@include border-radius(30px);
		i {
			margin-left: 5px;
			vertical-align: middle; 
		}
	}
	.active {
		color: #a1a1a2; 
		background: #f5f5f5; 
	}
}
/*---------------------------------------------- END Blocks -------------------------------------------- */

/*---------------------------------------------- Footer ------------------------------------------------ */
.footer {
	position: relative;
	margin-top: 20px;
	padding: 20px 0;
	border-top: 1px solid #d6dbdc;
	.soc {
		float: right;
		margin-top: 6px;
	}
}
.footer-nav {
	float: left;
	margin-right: 54px;
	li {
		margin-bottom: 3px;
	}
}
/*---------------------------------------------- END Footer -------------------------------------------- */
