@import "base";

// Slogan
.slogan {
    margin: 0 auto 25px;
    width: 1000px;
    text-align: center;
    color: #000;
    font-size: 18px;
    h1 {
        padding: 36px 0 16px;
        @include pts_r;
        font-size: 40px;
        line-height: 47px;
        color: #000;
    }
}

// scroll images
.scroll-wrap {
    position: relative;
    height: 420px;
    overflow: hidden;
}
.scroll {
    div {
        width: 100%;
        height: 420px;
        background-position: 50% 0;
        background-repeat: no-repeat;
    }
}

// promo blocks
.promo-wrap {
    position: absolute;
    top: 64px;
    left: 50%;
    z-index: 1000;
    margin-left: -341px;
    width: 682px;
    overflow: hidden;
    .promo {
        float: left;
        margin-left: 98px;
        &:first-child {
            margin-left: 0;
        }
    }
}
.promo {
    padding-bottom: 13px;
    width: 290px;
    border: 1px solid rgba(255,255,255,.79);
    text-align: center;
    @include border-radius(4px);
    background: #fefefe; 
    @include background-image(linear-gradient(#fefefe, #dfdfdf));
}
.promo__title {
    padding: 18px 0 15px;
    color: #333;
    font-size: 24px;
    border-bottom: 1px solid #e1e1e1;
}
.promo__text {
    padding: 16px 25px 23px;
    color: #4b4b4b;
    font-size: 18px;
    line-height: 24px;
    border-top: 1px solid #fff;
}
.promo__more {
    margin-top: 14px;
    a {
        &:before {
            content: "";
            position: relative;
            left: -7px;
            display: inline-block;
            @include sized-sprite($icons, inf);
            opacity: 0.1;
        }
    }
}

// offers
.offers {
    margin: 0 auto;
    width: 1130px;
    overflow: hidden;
}
.offers-title {
    height: 0;
    margin: 64px 0 44px;
    border-bottom: 1px solid #d0dadb;
    color: #000;
    font-size: 40px;
    line-height: 47px;
    @include pts_r;
    text-align: center;
    strong {
        position: relative;
        top: -27px;
        padding: 0 27px;
        font-weight: normal;
        background: #fff;
    }
}
.offers-wrap {
    overflow: hidden;
    margin: 0 -100px 16px 0;
    .offer {
        float: left;
        margin-right: 16px;
    }
}
.offer {
    padding: 4px 4px 12px;
    overflow: hidden;
    width: 260px;
    border: 1px solid #ddd;
    @include border-radius(4px);
    .metro-st {
        float: left;
        margin-top: 6px;
    }
    .price {
        float: left;
        margin: 10px 0 0 15px;
    }
}
.offer__img {
    img {
        display: block;
    }
}
.more-var {
    clear: both;
    margin: 20px 0;
    height: 43px;
    border: 1px dashed #e1ebec;
    text-align: center;
    span {
        height: 41px;
        line-height: 41px;
        color: #08c;
        font-size: 18px;
        cursor: pointer;
        border-bottom: 1px dotted;
    }
}
.offer-img {
    display: inline-block;
    @include border-radius(50%);
    * {
       @include border-radius(50%); 
    }
}
.offer-img_m {
    .offer-img__wrap {
        @include box-shadow(0 2px 15px rgba(0, 0, 0, 0.1));
        div {
            border: 10px solid #f8f8f8;
        }
        span {
            @include box-shadow(inset 0 0 10px rgba(0, 0, 0, 0.3));
        }
    }
}
.offer-img__wrap {
    border-top: 1px solid #fff;
    @include box-shadow(0 5px 25px rgba(0, 0, 0, 0.1));
    div {
        position: relative;
        overflow: hidden;
        border: 20px solid #f8f8f8;
    }
    img, span {
        display: block;
    }
    span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include box-shadow(inset 0 0 20px rgba(0, 0, 0, 0.3));
    }   
}
// Advantages
.title {
    .tab {
        float: right;
        margin-top: 24px;
    }
}
.advanteges {
    margin: 0 auto;
    width: 1130px;
    overflow: hidden;
}
.advant-wrap {
    position: relative;
}

.advant__title {
    margin-bottom: 13px;
    color: #333;
    font-size: 30px;
    font-weight: normal;
    line-height: 35px;
}
.advant__text {
    color: #525656;
    font-size: 18px;
    line-height: 28px;
}
// advantage part 1
.advant-wrap_1 {
    padding: 34px 0 0;
    .advant {
        margin-left: 257px;
        width: 365px;
    }
    .advant__text {
        padding: 0 20px 0 40px;
    }
    .offer-img {
        position: absolute;
        top: -5px;
        right: 62px;
        z-index: 2;
        border: 30px solid #fff;
    }
}
// advantage part 2
.advant-wrap_2 {
    margin-top: 70px;
    .advant__text {
        margin-left: 70px;
        width: 520px;
    }
    .advant__title {
        position: relative;
        padding-left: 70px;
        span {
            position: relative;
            z-index: 2;
            padding: 0 15px;
            background: #fff;
        }
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background: #d0dadb;
        }
    }
    .offer-img {
        float: left;
        margin-right: 27px;
    }
    .wrap {
        padding: 20px 0 0 70px;
    }
}
// advantage part 3
.advant-wrap_3 {
    margin: 88px 0 55px;
    .advant {
        margin: 0 0 7px 257px;
    }
    .advant__text {
        width: 290px;
    }
    .offer-img {
        margin-left: 257px;
    }
}

.advant-list {
    position: absolute;
    top: 44px;
    left: 700px;
}
.advant-balls {
    position: absolute;
    top: 195px;
    left: 600px;
}

// Enter form popup
.popup_enter {
    margin-left: -338px;
    width: 667px;
    overflow: hidden;
    .field {
        margin-bottom: 10px;
    }
    .label {
        width: 90px;
        margin-left: 0;
    }
    .popup__footer {
        height: 55px;
        padding: 0;
    }
}
.popup__enter-col {
    position: relative;
    float: left;
    .or {margin: 19px 0 16px;}
    .field {margin-left: -62px;}
    .btn-enter {
        position: absolute;
        bottom: -40px;
        left: 47px;
    } 
}
.popup__reg-col {
    position: relative;
    float: right;
    width: 315px;
    p {
        color: #737e81;
        text-align: center;
        margin-bottom: 31px;
    }
    .field {
        margin: 0 20px 10px -40px;
    }
    .btn_reg {
        position: absolute;
        bottom: -55px;
        left: 69px;
    }
}
