@import "base";

.btn_save {
    margin-left: -17px;
    height: 28px;
    line-height: 28px;
}

.user-main {
    text-align: center;
    color: #8e9eaa;
    font-size: 13px;
    .btn {
        margin: 3px 0 13px;
    }
}
.user-main__name {
    margin: -5px 0 3px;
    font-size: 24px;
    @include pts_r;
    line-height: 24px;
    font-weight: normal;
    color: #000; 
}
.user-main__phone {
    text-align: left;
    margin-top: 15px;
    strong {
        display: block;
        color: #000;
    }
    span {
        color: #004ccc;
        border-bottom: 1px dashed;
        cursor: pointer;
    }
}

// user varifications
.varific-sb {
    margin-top: 40px;
    padding: 15px 0 1px;
    background: #e5eff4;
    @include border-radius(6px);
    @include box-shadow(inset 0 0 10px #e5eff4);
    .separator {
        background: #e5eff4;
        @include background-image(linear-gradient(left, #e5eff4 0%, #afc0c9 25% ,#afc0c9 75%, #e5eff4 100%)); 
    }
    ul {
        padding:16px 0 0 21px;
        li {margin-bottom: 14px;}
        * {vertical-align: top;}
        i {margin-top: 3px;}
        span { 
            display: inline-block;
            margin-left: 7px;
            width: 114px;
            line-height: 18px;
        }
    }
}
.verific-sb__title {
    padding: 0 0 17px 18px;
    font-size: 24px;
    @include pts_r;
    color: #000;
}

// user informers
.user-informer {
    float: left;
    width: 290px;
    margin: 0 0 10px 37px;
    a {color: #1983c7;}
    .price {
        span {
            color: #9fb9be;
            font-size: 16px;
        }
    }
}
.user-informer__img {
    float: left;
    margin-right: 13px;
}
.user-informer__com {
    display: block;
    margin-top: 30px;
    color: #83939b;
    font-size: 12px;
}

// user bids
.user-bid {
    position: relative;
    overflow: hidden;
    float: left;
    width: 240px;
    margin: 13px -18px 0  37px;
    &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -12px;
        width: 1px;
        height: 25px;
        background: #ebe3d9;
    }
    .user-bid__img {
        float: left;
        margin-right: 10px;
    }
    .price {
        color: #f27f0f;
        strong {
            color: #f27f0f;
            display: inline;
        }
        i {
            &:before,
            &:after {
                background: #f27f0f;
            }
        }
    }
}


// commnets about user
.wrapper_com {
    overflow: hidden;
    margin-left: -125px;
}

.user-comm-title {
    overflow: hidden;
    margin: 50px 0 20px;
    div {
        float: left;
        margin: 0 70px 0 205px; 
    }
    strong {
        display: block;
        margin-bottom: 2px;
        font-size: 41px;
        @include pts_r;
        line-height: 41px;
    }
    span {
        padding-right: 10px;
        color: #92a1b5;
    }
    .btn {
        float: left;
        margin-top: 10px;
    }
}

.com {
    overflow: hidden;
    margin-bottom: 33px;
}
.com-user {
    float: left;
    text-align: center;
    color: #869da5;
    a {
        color: #0046cc;
    }
    span {
        display: block;
    }
}
.com-user__img {
    display: block;
    margin-bottom: -5px;
}
.com-text {
    position: relative;
    float: left;
    width: 476px;
    margin: 0 25px 0 48px;
    color: #47463d;
    padding: 13px 15px 35px 28px;
    border: 1px solid #fbd580;
    @include border-radius(5px);
    &:before {
        content: "";
        position: absolute;
        left: -32px;
        top: 24px;
        @include sized-sprite($icons, comm-corner);
    }
}  
.com-info {
    float: left;
    margin-top: -5px;
    width: 200px;
    .rate {
        margin-bottom: 32px;
    }
}

.propose-sb {
    margin-bottom: 10px;
    padding: 10px 0 6px;
    color: #465157;
    font-size: 12px;
    background: #e5eff4;
    text-align: center;
    @include border-radius(6px);
    .separator {
        margin-top: 11px;
        background: #afc0c9;
        @include background-image(linear-gradient(left, #e5eff4 0%, #afc0c9 25% ,#afc0c9 75%, #e5eff4 100%)); 
    }
    .btn-arrow {
        margin: 14px auto 17px;
    }
}
.propose-sb__title {
    text-transform: uppercase;
    display: block;
    margin-bottom: 4px;
}
.propose-sb__memb {
    display: block;
    margin-top: 5px;
    padding-left: 32px;
    text-align: left;
}
.sidebar-s {
    .btn-gray_favor {
        margin-bottom: 38px;
        margin-left: 8px;
    }
}
.offer-sb-wrap {
    margin: 19px 0 26px;
    padding: 10px 0 5px;
    .separator {
        margin: 0 0 19px;
    }
}
.offer-sb-wrap_mod {
    background: #fbd580;
    padding: 14px 13px 5px;
    @include border-radius(6px);
    .separator {
        background: #e5eff4;
        @include background-image(linear-gradient(left, #fbd580 0%, #d2b470 25% ,#d2b470 75%, #fbd580 100%)); 
    }
}
.offer-sb {
    overflow: hidden;
    margin: 14px 0 3px;
}
.offer-sb-title {
    display: block;
    margin-bottom: 11px;
    font-size: 16px;
    line-height: 21px;
}
.offer-sb__img {
    float: left;
    margin-right: 11px;
}
.offer-sb__main {
    float: left;
    font-size: 12px;
    strong {
        display: block;
        margin-top: -5px;
    }
    .price {
        margin-top: -4px;
        span {
            color: #7c6f52;
        }
    }
}
.tab-s-cont {
    margin-bottom: 60px;
}

.tab-cont {
    overflow: hidden;
    padding-top: 15px;
    .list-opt {
        float: left;
        margin: 0 0 10px 23px;
    }
    
}
.tab-cont-obj {
    padding-left: 20px;
    p {
        color: #2c3539;
        line-height: 22px;
        margin-bottom: 20px;
    }
}
.popup_comm {
    position: fixed;
    width: 937px;
    margin-left: -468px;
    .label {
        margin-left: 0;
        width: 80px;
    }
    .textarea {
        width: 456px;
        min-height: 176px;
        margin-bottom: 17px;
    }
    .rate {
        float: left;
        margin-left: 38px;
    }
    .checkbox {
        clear: both;
    }
}
.popup-comm-wrap {
    overflow: hidden;
}

// search
.filter-s {
    padding: 27px 0 24px; 
    background: #e5eff4;
    border-right: 2px solid #cfdce3;
    @include border-radius(6px); 
    .separator {
        margin: 5px 0 11px; 
        background: #afc0c9;
        @include background-image(linear-gradient(left, #e5eff4 0%, #afc0c9 25% ,#afc0c9 75%, #e5eff4 100%));
    }
}
.filter-s__item {
    padding: 0 11px 0 53px; 
    ul {
        margin: -8px 10px 2px 0;
    }
    li {
        margin-bottom: -1px;
        clear: both;
        .icon {
            float: right;
            margin-top: 7px;
            cursor: pointer;
        }
    }
    .metro-st {
        font-weight: normal;
        display: block;
        margin-left: -16px;
    }
    .select {
        float: none;
        width: 100%;
        margin-bottom: 12px;
    }
    .more {
        display: inline-block;
        margin-bottom: 11px;
        line-height: 15px;
        color: #0088cc;
        font-size: 13px;
        font-style: italic;
        border-bottom: 1px dotted;   
        cursor: pointer;
    }
}
.filter-s__title {
    overflow: hidden;
    margin-bottom: 14px;
    padding-right: 8px;
    font: normal 18px Trebuchet,Arial,sans-serif; 
    cursor: pointer;
    .icon {
        float: right;
        margin-top: 7px;
    }
}
.input-s {
    margin-bottom: 7px;
    overflow: hidden;
    color: #999; 
    * {
        display: inline-block;
        vertical-align: middle;
    }
    input {
        padding: 0 5px; 
        height: 26px; 
        width: 33px;
        color: #555; 
        background: #fff;
        border: 1px solid #eceeef; 
        @include border-radius(2px);
    }
}

// infotmation block
.info {
    margin-bottom: 35px;
    padding: 0 44px 14px 38px;
    border: 1px solid #f8a41f;
    @include border-radius(4px);  
}
.info__wrap {
    overflow: hidden;
    margin-top: 8px;
}
.info_obj {
    padding-right: 12px;
    .info__title {
        @include pts_b;
    }
    .info__item {
        b {
            display: block;
            float: none;
            @include pts_b;
            font-size: 18px;
        }
        p {
            color: #000;
        }
        .metro-st {
            margin: 0 -15px 0 25px;
        }
    }
}
.info__flat {
    margin-bottom: 18px;
    color: #262a2a;
    font-size: 18px;
    overflow: hidden;
    div {
        float: left;
    }
    span {
        color: #ed6c0d;
    }
    .soc-share {
        float: right;
    }
}
.info__item {
    overflow: hidden;
    b {
        float: left;
        margin-right: 4px;
        font-weight: normal;
    }
    p {
        overflow: hidden;
        color: #6d828c;
    }
}
.info__item-way {
    display: inline-block;
    min-width: 125px;
}
.info__title {
    position: relative;
    top: -10px;
    margin-left: -12px;
    padding: 0 15px 0 12px;
    background: #fff;
    color: #000;
    font-size: 25px;
    @include pts_r;
}
.info__categ {
    display: block;
    margin: 22px 0 17px;
    height: 1px;
    color: #ecab11;
    background: #f9e2b2;
    b {
        position: relative;
        top: -10px;
        display: block;
        width: 147px;
        background: #fff;
    }
}
.info_filter {
    padding-right: 26px; 
}
.info_my-filter {
    padding-right: 26px;
    .filter {
        strong {
            background: none;
        }
        .field {
            float: right;
            width: 160px;
            margin-top: -37px;
            clear: none;
            input {
                width: 144px;
            }
            label {
                margin: 0 0 10px;
                text-align: left;
            }
        }
    }
    .filter_price {
        width: 220px;
        margin-right: 7px;
    }
    .filter_type {
        width: 415px;
    }
    .filter-wrap {
        background: none;
        overflow: visible;
    }
}
.filter-slider {
    div {
        color: #f36611;  
        font-size: 14px;
        span {
            color: #000;
        }
    }
}
.filter {
    strong {
        display: inline-block;
        padding: 0 8px; 
        line-height: 25px;
        color: #e79f21;
        font-size: 16px; 
        background: #f3f9f1;
        @include border-radius(6px 6px 0 0);
    }
}
.filter_price {
    float: left;
    width: 205px; 
    margin-right: 20px;
    .filter-slider {
        float: none;
    }
}
.filter_type {
    float: left;
    width: 405px; 
    .filter-slider {
        float: right;
        width: 140px;
    }
    .tab {
        float: left;
    }
}
.filter-wrap {
    padding: 9px 10px 7px;
    background: #f3f9f1;
    overflow: hidden;
    @include border-radius(0 6px 6px 6px);
}

.btn-search {
    position: relative;
    float: right;
    margin-top: 23px;
    input {
        padding-left: 25px;
    }
    .icon {
        position: absolute;
        left: 7px;
        top: 7px;
    }
}
// jquery ui slider styles 
.ui-widget-content {
    margin-bottom: 2px;
    border: 0;
    border-bottom: 1px solid #d3e1e2;
    background: #d9e7e9; 
    @include border-radius(10px);
    @include box-shadow(inset 0 1px 3px rgba(0,0,0,0.18));
    @include background-image(linear-gradient(#b5c6c8, #d9e7e9));
    .ui-slider-handle {
        border: 0;
        @include border-radius(50%);
        background: #e6e6e6; 
        @include background-image(radial-gradient(#fff, #e6e6e6));
        @include box-shadow(1px 1px 3px rgba(0,0,0,0.5));
    }   
}
.ui-widget-header {
    background: #e74b21; 
}

.inform-list {
    margin-top: -22px;
}
.inform-list__head {
    overflow: hidden;
    margin-bottom: 22px;
    padding-left: 18px;
    .sort {
        float: right;
        margin-top: 5px;
    }
}
.inform-quant {
    font-size: 21px;
    float: left;
    @include pts_r;
    span {
        color: #fc5e0d; 
    }
    i {
        margin-right: 2px;
    } 
}
.inform-list__footer {
    margin-top: 21px;
    overflow: hidden;
    padding-right: 7px;
    span {
        float: left;
        font-size: 18px;
        padding: 10px 0 0 40px;
    }
    .pagin {
        float: right;
    }
}
.inform {
    position: relative;
    overflow: hidden;
    margin: 0 -15px 8px 0;
    padding: 13px 3px 5px 14px;
    .btn-aqua {
        display: none;
    }
    &:hover {
        background: #f3f9f1;
        @include border-radius(6px);
        @include transition(all, 0.3s, ease-in-out);
        .btn-aqua {
            display: inline-block;
        }
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 27px;
        height: 1px;
        background: #edf3f2; 
    }
}
.inform_mod {
    .inform__main {
        padding-left: 24px;
        width: 421px;
    }
    .inform__floor {
        margin-bottom: 8px;
    }
    .inform__floor,
    .inform__metro {
        padding-left: 0;
    }
}
.inform__num {
    float: left;
    margin-right: 13px;
    font-weight: bold;
}
.inform__img {
    float: left;
    margin-right: 10px;
}
.inform__main {
    float: left;
    margin-top: -3px;
    padding-right: 8px;  
    width: 445px;
    div {
        overflow: hidden;
        img {
            float: left;
            margin: 7px 10px 0 0;
        }
    }
}
.inform__title {
    overflow: hidden;
    font-size: 16px;
    font-weight: normal;
    a:hover {
        color: #f1630d; 
    }
}
.inform__floor {
    display: block;
    margin-top: 12px;
    padding-left: 20px;
    color: #96aaaa; 
    i {
        display: inline-block;
        margin-right: 3px; 
        padding: 0 8px; 
        height: 15px;
        line-height: 15px; 
        background: #eef6f6;
        font-size: 11px;
        @include border-radius(50%); 
    }
}
.inform__metro {
    padding-left: 24px;
    strong {
        font-weight: normal;
        margin-left: 5px;
        padding-left: 10px;
        border-left: 1px solid #e6e6e6;
    }
    a {
        color: #7a868f ;
        border-bottom: 1px dashed; 
        text-decoration: none;
    } 
}

.inform__price {
    float: left;
    .price {
        display: inline-block;
        margin-bottom: 8px;
        padding: 8px 11px; 
        background: #ecf1f2; 
        @include border-radius(6px); 
        strong {
            line-height: 15px;
        }
        span {
            display: block;
            text-align: center;
        }
    }
}

// parameters 
.option-table__descr {
    float: left;
    width: 500px;
}
.option-table {
    padding-bottom: 53px;
    width: 230px;
    float: right;
    border-left: 1px solid #f4f4f4;
    li {
        padding: 3px 5px 3px 25px;
        color: #54656d;
        &:nth-child(2n) {
            background: #f4f4f4;
        }
    }
    strong {
        display: block;
        color: #000;
        margin-bottom: -2px;
    }
}